.el-header,
.el-main,
.el-footer {
  width: 1190px;
  margin: 0 auto;
  padding: 0;
  overflow: unset;
  color:rgba(255, 255, 255, 1);
}

.el-header {
  background:rgba(10, 32, 43, 1);
  .m-header {
    line-height:38px;
    font-size: 20px;
    width: 1190px;
    margin: 0 auto;
  }
}

.el-footer {
  font-size:16px;
  font-weight:300;
  color:rgba(255, 255, 255, 1);
  line-height:22px;
}

.layout-default {
  -webkit-font-smoothing: antialiased;
  font-family: "-apple-system",
    BlinkMacSystemFont,
    Roboto,
    "Helvetica Neue",
    "MIcrosoft YaHei",
    sans-serif !important;
  background-color: #F8F8F8;
}
