.container{
    width: 100%;
    .content{
        display: flex;
        justify-content: center;
        margin-top: 44px;
        padding-bottom: 73px;
        .left{
            width: 900px;
        }
        .right{
            display: flex;
            flex-direction: column;
            width: 220px;
            margin-left: 20px;
        }
    }
}