.content_container {
  background: rgba(255, 255, 255, 1);

  .title {
    padding-top: 35px;
    padding-bottom: 30px;
    font-size:28px;
    font-weight:600;
    color:rgba(10, 32, 43, 1);
    line-height:40px;
  }

  .content {
    padding-bottom: 23px;
    font-size:16px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .userInfo {
    padding-bottom: 19px;
    display: flex;
    align-items: center;

    .userPic {
      width:45px;
      height:45px;
      border-radius: 50%;
    }

    .user {
      margin-left: 10px;

      .userName {
        font-size:18px;
        font-weight:400;
        color:rgba(10, 32, 43, 1);
        line-height:25px;
      }

      .addTime {
        font-size:16px;
        font-weight:400;
        color:rgba(144, 147, 153, 1);
        line-height:22px;
      }
    }
  }
}
